In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso,Ridge,ElasticNet
from sklearn.feature_selection import RFE 
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso,Ridge,ElasticNet

data = pd.read_csv("Data/Cleaned_Data_Marketing_Customer_Analysis_Round2.csv")

## Lab | Comparing regression models
<br/>
For this lab, we will be using the same dataset for the customer analysis case study we used in the previous labs. We recommend using the same notebook since you will be reusing the same variables you previous created and used in labs.
<br/>

### Instructions


- Define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

- Use the function to check LinearRegressor,Lasso,Ridge and KNeighborsRegressor.

- Use feature selection techniques to select subset of features to train the model with(if necessary).

- Check and discuss the results.

In [11]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,48029.0,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,NaN,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,22139.0,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,49078.0,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675.0,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10868,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,NaN,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10869,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,61146.0,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10870,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,39837.0,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10871,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,64195.0,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A
10872,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,NaN,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,NaN

In [15]:
num_data = data._get_numeric_data()

In [20]:
num_data = num_data.dropna()

In [21]:
num_data

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,4809.22,48029.0,61,7.0,52,0.0,9,292.80
2,14947.92,22139.0,100,34.0,31,0.0,2,480.00
3,22332.44,49078.0,97,10.0,3,0.0,2,484.01
5,4745.18,50549.0,61,2.0,73,0.0,7,292.80
6,5035.04,37405.0,63,8.0,99,3.0,4,287.56
...,...,...,...,...,...,...,...,...
10865,3579.02,28304.0,91,10.0,30,2.0,1,655.20
10866,2771.66,59855.0,74,30.0,82,4.0,1,355.20
10869,5259.44,61146.0,65,7.0,68,0.0,6,273.02
10870,23893.30,39837.0,201,11.0,63,0.0,2,381.31
10871,11971.98,64195.0,158,0.0,27,4.0,6,618.29

In [ ]:
def train_and_test_dataset(df, target_column, model='LinearRegression',random_state=123):
    
    #X/y split
    
    X = data.drop(columns=[target_column], axis = 1)
    y = np.log(data[target_variable])